$colores: (
    "blanco" :white,
    "morado":rgb(208, 9, 132),
    "hueso" :rgb(223, 229, 235),
    "marron-claro" :#624855 8px 2px 4px,
    "azul-oscuro" :rgb(18, 41, 66),
    "negro-opaco" :rgb(62, 58, 58),
    "celeste-opaco":rgb(119, 172, 219),
    "uva":#484872,
);

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Maven+Pro&family=Montserrat:wght@500&family=Prompt:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
}

a{
    text-decoration: none;
    color: white;

}
a:hover{
    color: rgb(208, 9, 132);
    transition: 1s;
}

ul{
    list-style: none;
}

body, html{
    overflow-x: hidden;
}